body {
    font-size: 16px !important;
    font-family: var(--vp-font-family-base) !important;
    line-height: unset!important;
}

.text-bold {
    font-weight: bold;
}
.text-accent {
    color: #47caff;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.shadow-1 {
    box-shadow: 0 1px 2px #0003, 0 1px 1px -1px #00001f;
}

.image-bg {
    background-image: var(--vp-home-hero-image-background-image);
    width: 192px;
    height: 192px;
    filter: var(--vp-home-hero-image-filter);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-src {
    width: unset!important;
    height: unset!important;
    object-fit: unset !important;
}

.badges {
    a img {
        display: inline !important;
        margin-right: 4px;
    }
}

.o-table-wrapper-view {
    table {
        display: unset;
        width: 100%;
    }
}

.global-toast-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.o-ai-settings-popover {
    .popover-content {
        min-width: 480px;
    }
}

.o-code-block-view {
    background: transparent !important;
    margin: unset !important;
    &.splitHorizontal {
        position: fixed !important;
    }

    pre {
        padding: 1rem!important;
        background: var(--yii-pre-bg-color) !important;
    }
}

.o-details-view {
    .details {
        summary {
            margin: unset;
        }
    }
}

.yiitap {
    .page-view {
        max-width: 900px;
    }

    h1,h2 {
        border-top: none;
    }

    h2 {
        margin-top: 20px;
    }

    div[data-type="column-container"] {
        div[data-type="column"] {
            .grid-resize-handle {
                .circle-button {
                    top: -20px;
                    left: -12px;
                }
            }
        }
    }

    li p {
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 0;
    }

    p {
        line-height: 1.5;
    }
}

div[data-type="column-container"] {
    div[data-type="column"] {
        .grid-resize-handle {
            .circle-button {
                background: dodgerblue!important;
                width: 26px !important;
                height: 26px !important;
            }
        }
    }
}

h1:has(svg), h2:has(svg) {
    display: flex;
    align-items: center;

    svg {
        margin-right: 12px;
    }
}

.post {
    a {
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: var(--vp-c-brand) !important;
        }
    }
    h1 {
        letter-spacing: -0.02em;
        line-height: 40px;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .date {
        font-size: 0.85rem;
        color: var(--vp-c-text-3);
    }

    .tags {
        display: flex;
        gap: 6px;

        .tag {
            display: inline-block;
            font-size: 0.8rem;
            padding: 0 6px;
            background: rgba(45, 169, 135, 0.10);
            color: #2da987;
            border-radius: 6px;
            letter-spacing: 0.04em;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
                border-color: #2da987;
            }
        }
    }

    .desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.VPDoc:not(.has-sidebar) .content {
    max-width: unset !important;
}

.dark {
    .shadow-1 {
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.80),
        0px 0px 0px 1px rgba(255, 255, 255, 0.08)
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px !important;
    }
}

@font-face {
    font-family: 'LXGWWenKaiLite';
    src: url("/fonts/lxgw-wenkai-lite/LXGWWenKaiMonoLite-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Yozai';
    src: url("/fonts/yozai/Yozai-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Yozai';
    src: url("/fonts/yozai/Yozai-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Yozai';
    src: url("/fonts/yozai/Yozai-Medium.ttf") format("truetype");
    font-weight: 500;
}